<h2 id="title">Swapzapp Overlord</h2>
{{link-to 'Home' 'application' }}
{{#link-to 'customers'}}Customers{{/link-to}}
{{#link-to 'sales'}}Sales{{/link-to}}
{{#link-to 'users'}}Users{{/link-to}}
{{#link-to 'calcsales'}}Calculated Sales{{/link-to}}
<br />
{{outlet}}
